<head>
  <title>Roam</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/styles/style.css" rel="stylesheet">
  <script src="/scripts/main.js"></script>
</head>
<body>
  <div class="siteNav">
    <a href="/" style="text-decoration:none"><h3>Roam</h3></a>
    <span>
      <form action="/sign-in">
        <input type="submit" value="Sign In">
      </form>
    </span>
    <span>
      <form action="/sign-up">
        <input type="submit" value="Sign Up">
      </form>
    </span>
  </div>
</body>
