<!DOCTYPE html>
<html lang="en">
  <% include partials/header %>
  <body>
    <div>
      city pic... header has button to new post page
    </div>
    <div>
      <span>user pic</span>
      <span>for each post... post snippet</span>
    </div>
  </body>
</html>
