<!DOCTYPE html>
<html lang="en">
  <body>
    <div>
      <div>
        <h1>New Post</h1>
      </div>
      <div>
        <input name="title" placeholder="post title">
      </div>
      <div>
        <textarea name="post" rows="20" cols="100" style="resize:none; outline:none" required></textarea>
      </div>
      <div>
        <input type="submit" value="Post">
      </div>
    </div>
  </body>
</html>
