<!DOCTYPE html>
<html lang="en">
  <% include partials/header %>
  <body>
    <div class="post-container">
      <div> header should be city name
        <h2>post title</h2>
      </div>
      <div>
        post body...
      </div>
    </div>
      <% include partials/sidebar %>
    </div>
  </body>
</html>
