<!DOCTYPE html>
<html lang="en">
  <body>
    <form>
      <div>
        <div>
          email: <input type="email" name="email" placeholder="john@email.com" required>
        </div>
        <div>
          password: <input type="password" name="password" placeholder="password" required>
        </div>
        <div>
          <input type="submit" value="Sign In">
        </div>
      </div>
    </form>
  </body>
</html>
