<!DOCTYPE html>
<html lang="en">
  <% include partials/header %>
  <body>
    <div>
      <form method="post" action="/sign-in">
        <div>
          <div>
            email: <input type="email" name="email" placeholder="john@email.com" required>
          </div>
          <div>
            password: <input type="password" name="password" placeholder="password" required>
          </div>
          <div>
            <input type="submit" value="Sign In">
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
