<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <div>
      <div>
        <h1>Call to Action</h1>
      </div>
      <div>
        email: <input type="email" name="email" placeholder="johndoe@email.com">
      </div>
      <div>
        password: <input type="password" name="password" placeholder="password">
      </div>
      <div>
        confirm-password: <input type="password" name="confirm-password" placeholder="confirm-password">
      </div>
      <div>
        <input type="submit" value="Sign Up">
      </div>
    </div>
  </body>
</html>
