<!DOCTYPE html>
<html lang="en">
  <% include partials/header %>
  <body>
    <div class="container">
      <form method="post" action="/sign-in">
        <div>
          <div>
            email: <input type="email" name="email" placeholder="john@email.com" value="somewhere@rain.bow" required>
          </div>
          <div>
            password: <input type="password" name="password" placeholder="password" value="password" required>
          </div>
          <div>
            <input type="submit" value="Sign In">
          </div>
        </div>
      </form>
      <div>
        <% if( message && message.length > 0) { %>
          <div class="message info alert alert-danger">
            <%= message || 'hi' %>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
