  <% include partials/header %>
      <div>
        city pic... header has button to new post page
      </div>
      <div>
        <span>user pic</span>
        <span>for each post... post snippet</span>
      </div>
    </div>
  </body>
</html>
